@import "tailwindcss";

@theme {
  --color-cyber-black: #050505;
  --color-cyber-teal: #00F2FE;
  --color-cyber-surface: #0E0E10;
  --color-cyber-card: #141416;

  /* Applying Premium Typography Scales Globally */
  --font-sans: 'Space Grotesk', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

body {
  margin: 0;
  background-color: var(--color-cyber-black);
  color: #ffffff;
  font-family: var(--font-sans);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* Custom WebKit Scrollbar to match precision design layout */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #1f1f23;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00F2FE;
}